{# Import the theme's layout. #}
{% extends "!layout.html" %}

{# Include our new CSS file into existing ones. #}
{% set css_files = css_files + ['_static/flexboxgrid.min.css', '_static/git-pull.css']%}

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

{%- block content %}
{%- if theme_fixed_sidebar|lower == 'true' %}
<div class="document">
    {{ sidebar() }}
    {%- block document %}
    <div class="documentwrapper">
        {%- if render_sidebar %}
        <div class="bodywrapper">
            {%- endif %}
            <div class="body" role="main">
                {% block body %}
                {% endblock %}
                <div class="just-comments"
                     data-allowguests="true"
                     data-apikey="4bb18080-e236-4513-bd72-3a032f35d3bb">
                </div>
                <script async defer src="https://just-comments.com/w.js"></script>
                <script async defer src="https://buttons.github.io/buttons.js"></script>
                <script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            {%- if render_sidebar %}
        </div>
        {%- endif %}
    </div>
    {%- endblock %}
    <div class="clearer"></div>
</div>
{%- else %}
{{ super() }}
{%- endif %}
{%- endblock %}