{% extends '!more.html' %}
{% block projects_header %}<h3>Projects</h3>{% endblock %}

{% block more_content %}
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/clarkzjw" data-show-count="true"
   aria-label="Follow @clarkzjw on GitHub">Follow @clarkzjw</a>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<a class="twitter-timeline" data-width="220" data-height="800" href="https://twitter.com/_clarkzjw">Tweets by
    clarkzjw</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
